<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="./css/materialize.css">
    <link rel="stylesheet" href="./fonts/material-icons.css">
    <link rel="stylesheet" href="./css/styles.css" type="text/css" />
</head>
<body>
    <nav>
        <div class="nav-wrapper green">
          <a href="/" class="brand-logo">Logo</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/">HOME</a></li>
            <li><a href="/categories">CATEGORIES</a></li>
            <li><a href="/contact">CONTACT US</a></li>
            <!-- <li><a class="" href="/login">Login</a></li> -->
            <li><a href="#" class='dropdown-trigger' data-target='drop'>{{uName}}</a></li>
          </ul>
        </div>
    </nav>
    <ul class="dropdown-content" id="drop">
        <li>
            <a href="/logout">Logout</a>
        </li>
    </ul>
    <div class="container">
        <h1>Dashboard</h1>
    </div>

    <script src="./js/jquery-3.0.0.min.js"></script>
    <script src="./js/materialize.js"></script>
    <script src="./js/nodeApp.js"></script>
</body>
</html>